<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@ViewBag.Title</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="google-site-verification" content="76ac597U5wSp97RIhYvGMyD6_l2J754Sr1RI1_krSO0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="author" content="Vail Extreme Rentals">
    <meta name="keywords" content="@ViewBag.MetaKeywords">
    <link rel="canonical" href="@ViewBag.CanonicalURL" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Web Fonts -->
    <link rel="shortcut" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&subset=cyrillic,latin">
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="~/css/header-v4-centered.css">
    <link rel="stylesheet" href="~/css/footer-v1.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/line-icons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="~/css/blog_magazine.css">
    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/css/custom.css">
    <link rel="stylesheet" href="~/css/themecolors/red.css" />
    <link rel="stylesheet" href="~/css/slider/parallax-slider.css">
    <link rel="stylesheet" href="~/css/owl.carousel.css" />
    <link rel="stylesheet" href="~/css/cubeportfolio.min.css">
    <link rel="stylesheet" href="~/css/custom-cubeportfolio.css">
    <link rel="stylesheet" href="~/css/custom-hover-effects.css" />
    <link rel="stylesheet" href="~/css/hover-min.css" />
</head>
<body>
    <div class="wrapper">
        <!--=== Header v4 ===-->
        <div class="header-v4">
            <!-- Topbar -->
            <div class="topbar-v1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-inline top-v1-contacts">
                                <li>
                                    <i class="fa fa-envelope"></i><a href="contact">vailextremerentals@gmail.com</a>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>1 (970) 470-2166
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-inline top-v1-data">
                                <li><a href="/"><i class="fa fa-home"></i></a></li>
                                <li><a href="https://www.facebook.com/Vail-Extreme-Rentals-1971426109748690/">Facebook</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Topbar -->
            <!-- Navbar -->
            <div class="navbar navbar-default mega-menu" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img id="logo-header" style="max-width:320px;max-height:160px" class="img-responsive full-width wow wobble" src="~/images/logo1-default.gif" alt="Logo">
                        </a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="full-width-menu">Menu Bar</span>
                            <span class="icon-toggle">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <!-- RENTALS -->
                            <li class="dropdown">
                                <a href="rentals#rent">
                                    RENTALS
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="rentals#timbersled">TIMBERSLEDS</a></li>
                                    <li><a href="rentals#snowmobile">SNOWMOBILES</a></li>
                                    <li><a href="rentals#dirtbike">DIRTBIKES</a></li>
                                    <li><a href="rentals#rzr">RZR SIDE-BY-SIDES</a></li>
                                    <li><a href="rentals#motorcycle">MOTORCYCLES</a></li>
                                    <li><a href="rentals#jeep">JEEPS</a></li>
                                    <li><a href="rentals#truck">TRANSPORTATION</a></li>
                                    <li><a href="rentals#bckcntrygear">BACKCOUNTRY GEAR</a></li>
                                    <li><a href="rentals#camera">VIDEO CAMERAS</a></li>
                                </ul>
                            </li>
                            <!-- Delivery -->
                            <li>
                                <a href="delivery">
                                    WHERE WE DELIVER
                                </a>
                            </li>
                            <!-- MEDIA -->
                            <li class="dropdown">
                                <a href="media" >
                                    MEDIA
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="media#photo">PHOTOGRAPHY</a></li>
                                    <li><a href="media#video">VIDEO</a></li>
                                </ul>
                            </li>
                            <!-- Reservation -->
                            <li>
                                <a href="reservations">
                                    MAKE A RESERVATION
                                </a>
                            </li>
                            <!-- Contact -->
                            <li>
                                <a href="contact">
                                    CONTACT US
                                </a>
                            </li>
                        </ul>
                    </div><!--/end container-->
                </div><!--/navbar-collapse-->
            </div>
            <!-- End Navbar -->
        </div>
        <!--=== End Header v4 ===-->

        @RenderBody()

        <!--=== Footer Version 1 ===-->
        <div class="footer-v1">
            <div class="footer">
                <div class="container">
                    <div class="row">
             
                        <div class="col-md-4 map-img md-margin-bottom-40">
                            <div class="headline"><h2>Contact</h2></div>
                            <address class="md-margin-bottom-40">
                                VAIL EXTREME RENTALS<br />
                                <i class="fa fa-map-marker"></i>&nbsp;&nbsp;2095 Zermatt Lane Unit A, Vail, Colorado 81657<br />
                                <i class="fa fa-phone"></i>&nbsp;&nbsp;1 (970) 470-2166<br />
                                 <i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="contact">vailextremerentals@gmail.com</a>
                            </address>
                        </div><!--/col-md-3-->
                       
                        <div class="col-md-4 md-margin-bottom-40">
                            <a href="/"><img style="display: block; margin-left:auto; margin-right:auto" id="logo-footer" class="footer-logo" src="~/images/logo2-default.gif" alt="" height="200"></a>
                        </div>
                        <div class="col-md-4 md-margin-bottom-40">
                            <div class="headline"><h2>Links</h2></div>
                            <ul class="list-unstyled link-list">
                                <li><a href="rentals#rentals">Rentals</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="reservations">Make a Reservation</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="contact">Contact Us</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="media">Media</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!--/footer-->
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                2015 &copy; All Rights Reserved.
                                <a href="legal">Rental Agreement</a> | <a href="legal">Release of Liability</a>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p style="text-align:right">
                                <a href="media">Ride like a local!</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div><!--/copyright-->
        </div>
        <!--=== End Footer Version 1 ===-->
    </div>

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="~/js/googleanalytics.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/back-to-top.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/smoothscroll.js"></script>
    <script type="text/javascript" src="~/js/slider/plugins/jquery.cslider.js"></script>
    <script type="text/javascript" src="~/js/slider/plugins/modernizr.js"></script>
    <script type="text/javascript" src="~/js/slider/owl.carousel.js"></script>
    <script type="text/javascript" src="~/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/custom.js"></script>
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript" src="~/js/slider/parallax-slider.js"></script>
    <script type="text/javascript" src="~/js/slider/plugins/owl-carousel.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="~/js/gmap.js"></script>
    <script type="text/javascript" src="~/js/contact.js"></script>
    <script type="text/javascript" src="~/js/page_contacts.js"></script>
    <script type="text/javascript" src="~/js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="~/js/fancy-box.js"></script>
    <script type="text/javascript" src="~/js/login.js"></script>
    <script type="text/javascript" src="~/js/order.js"></script>
    <script type="text/javascript" src="~/js/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/js/review.js"></script>
    <script type="text/javascript" src="~/js/checkout.js"></script>
    <script type="text/javascript" src="~/js/wow.min.js"></script>
    <script type="text/javascript" src="~/js/style-switcher.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            OwlCarousel.initOwlCarousel();
            ParallaxSlider.initParallaxSlider();
            ContactPage.initMap();
            ContactForm.initContactForm();
            FancyBox.initFancybox();
            $(".fancybox").fancybox({
                helpers: {
                    media: true,
                    type: "iframe"
                }
            });
            OrderForm.initOrderForm();
            ReviewForm.initReviewForm();
            CheckoutForm.initCheckoutForm();
            StyleSwitcher.initStyleSwitcher();
            new WOW().init();
        });
    </script>
    <!--[if lt IE 9]>
    <script src="~/lib/jquery/dist/respond.js"></script>
    <script src="~/lib/jquery/dist/html5shiv.js"></script>
    <script src="~/lib/jquery/dist/placeholder-ie-fixes.js"></script>
    <script src="~/js/sky-forms-ie8.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
        <script src="~/js/jquery.placeholder.min.js"></script>
    <![endif]-->

    @RenderSection("scripts", required: false)
</body>
</html>