@model MVCEmail.Models.ReservationFormModel
@{
    ViewBag.Title = "Snowmobile & Scooter Rental Vail CO | Vail Extreme Rentals";
    ViewBag.MetaDescription = "Vail Extreme Rentals offer snowmobile, scooter, dirt bike rentals and more! Click to reserve your choice of model today!";
    ViewBag.MetaKeywords = "";
    ViewBag.CanonicalURL = "https://www.vailextremerentals.com";
}
<link href="~/css/sky-forms.css" rel="stylesheet" />
<link href="~/css/custom-sky-forms.css" rel="stylesheet" />
<!--[if lt IE 9]><link rel="stylesheet" href="~/css/sky-forms-ie8.css"><![endif]-->
<link href="~/css/page_contact.css" rel="stylesheet" />

<div class="container content">
    <div class="row margin-bottom-0">
        <div class="col-md-12 mb-margin-bottom-0">
            <div class="headline"><h1>Reservations</h1></div>
            <p>Need to book a last-minute reservation? We can do that, but we need 48 hours advance notice. We may be able to arrange something quicker than that on weekdays, so please call us at (970) 470-2166.</p><br />
        </div>
    </div>
    <div class="row margin-bottom-30 sky-form">

        <!-- Order Form -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <div class="row">
                    <section class="col col-4">
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            @Html.TextBoxFor(m => m.FromName, new { @class = "form-control", placeholder = "CUSTOMER NAME", name = "name" })
                            @Html.ValidationMessageFor(m => m.FromName)
                        </label>
                    </section>

                    <section class="col col-4">
                        <label class="input">
                            <i class="icon-append fa fa-envelope"></i>
                            @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", placeholder = "E-MAIL", name = "email" })
                            @Html.ValidationMessageFor(m => m.FromEmail)
                        </label>
                    </section>
                    <section class="col col-4">
                        <label class="input">
                            <i class="icon-append fa fa-phone"></i>
                            @Html.TextBoxFor(m => m.FromTelephoneNumber, new { @class = "form-control", placeholder = "PHONE", name = "phone" })
                            @Html.ValidationMessageFor(m => m.FromTelephoneNumber)
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col col-6">
                        <label class="select">
                            @Html.DropDownListFor(m => m.SelectedRental, new SelectList(new List<Object>{

                           new { value = 1 , text = "TIMBERSLED 2018 YAMAHA YZ450F YETI 129 SNOWMX FREERIDE SS" },
        new { value = 2 , text = "TIMBERSLED 2018 YAMAHA YZ450F TIMBERSLED 120 SHORT TRACK" },
        new { value = 3, text = "TIMBERSLED YAMAHA WR480F BIG BORE TIMBERSLED 137 LONG TRACK" },
        new { value = 4, text = "TIMBERSLED YAMAHA WR450F TIMBERSLED 137 LONG TRACK" },
        new { value = 5, text = "TIMBERSLED YAMAHA WR450F TIMBERSLED 120 SHORT TRACK" },
        new { value = 6, text = "TIMBERSLED KTM 300XC TIMBERSLED SNOW CROSS SX 120" },
        new { value = 7, text = "TIMBERSLED KAWASKI KX110L KIDS SNOW RIPPER" },
        new { value = 8, text = "SNOWMOBILE SKI-DOO SUMMIT 850 E-TEC, 154 TRACK" },
        new { value = 9, text = "DIRTBIKE 2018 YAMAHA YZ450F" },
        new { value = 10, text = "DIRTBIKE KAWASAKI KX450F" },
        new { value = 11, text = "DIRTBIKE YAMAHA WR450F" },
        new { value = 12, text = "DIRTBIKE KTM 300 XC" },
        new { value = 13, text = "DIRTBIKE KAWASAKI KX250F" },
        new { value = 14, text = "DIRTBIKE HONDA XR100" },
        new { value = 15, text = "DIRTBIKE KAWASAKI KLX 110L" },
        new { value = 16, text = "DIRTBIKE HONDA CRF150F" },
        new { value = 17, text = "DIRTBIKE HONDA XR50" },
        new { value = 18, text = "SIDE-BY-SIDE YAMAHA VIKING 6-PASSENGER" },
        new { value = 19, text = "SIDE-BY-SIDE POLARIS RZR XP 4 1000 EPS 4-PASSENGER" },
        new { value = 20, text = "SIDE-BY-SIDE POLARIS RZR 800 XC 2-PASSENGER" },
        new { value = 21, text = "MOTORCYCLE HARLEY-DAVIDSON STREET GLIDE" },
        new { value = 22, text = "MOTORCYCLE HONDA RUCKUS 50CC" },
        new { value = 23, text = "E-BIKE QUIETKAT FATKAT MOUNTAIN BIKE" },
        new { value = 24, text = "JEEP 5-PASSENGER" },
        new { value = 25, text = "ROCK CRAWLER (THE BEAST)" },
        new { value = 26, text = "TRUCK 4X4 CHEVY CREW CAB DIESEL" },
        new { value = 27, text = "TRANSCEIVER TRACKER DTS TRANSCEIVER" },
        new { value = 28, text = "TRANSCEIVER SPOT GEN3 TRANSCEIVER" },
        new { value = 29, text = "OUTDOOR CAMERA GOPRO HERO4" },
                            }, "value", "text"), "RESERVE THIS MODEL", new { name = "interested", @class = "interested" })
                            <i></i>
                        </label>
                    </section>
                    <section class="col col-3">
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", placeholder = "PICKUP DATE", name = "start", id = "start" })
                            @Html.ValidationMessageFor(m => m.StartDate)
                        </label>
                    </section>
                    <section class="col col-3">
                        <label class="input">
                            <i class="icon-append fa fa-calendar"></i>
                            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", placeholder = "RETURN DATE", name = "finish", id = "finish" })
                            @Html.ValidationMessageFor(m => m.EndDate)
                        </label>
                    </section>
                </div>
                <div class="row">
                    <section class="col-lg-12">
                        <label class="textarea">
                            @Html.TextAreaFor(m => m.SpecialRequest, new { @class = "form-control", placeholder = "SPECIAL REQUEST(S)", name = "specialrequest", id = "specialrequest" })
                            @Html.ValidationMessageFor(m => m.SpecialRequest)
                        </label>
                    </section>
                </div>


                <div class="row">
                    <section class="col col-4">
                        <button type="submit" class="btn-u btn-brd-hover rounded btn-u-lg">
                            <i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp;Submit
                        </button>
                    </section>
                </div>

            </fieldset>


        }
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<!-- End Checkout-Form -->